// Theme #1
$main-background-1: hsl(222deg, 26%, 31%);
$toggle-keypad-background-1: hsl(223deg, 31%, 20%);
$background-1: hsl(224deg, 36%, 15%);

// Keys
// Delete & reset
$blue-key-background-1: hsl(225deg, 21%, 49%);
$blue-key-shadow-1: hsl(224deg, 28%, 35%);

// Equal
$red-key-background-toggle-1: hsl(6deg, 63%, 50%);
$red-key-shadow-1: hsl(6deg, 70%, 34%);

// Numbers & symbols
$main-key-background-1: hsl(30deg, 25%, 89%);
$main-key-shadow-1: hsl(28deg, 16%, 65%);

// Text
$text-1: hsl(221deg, 14%, 31%);
$white-1: hsl(0deg, 0%, 100%);
