// Theme #1
$main-background-1: hsl(222deg, 26%, 31%);
$toggle-keypad-background-1: hsl(223deg, 31%, 20%);
$background-1: hsl(224deg, 36%, 15%);

// Keys
// Delete & reset
$blue-key-background-1: hsl(225deg, 21%, 49%);
$blue-key-shadow-1: hsl(224deg, 28%, 35%);

// Equal
$red-key-background-toggle-1: hsl(6deg, 63%, 50%);
$red-key-shadow-1: hsl(6deg, 70%, 34%);

// Numbers & symbols
$main-key-background-1: hsl(30deg, 25%, 89%);
$main-key-shadow-1: hsl(28deg, 16%, 65%);

// Text
$text-1: hsl(221deg, 14%, 31%);
$white-1: hsl(0deg, 0%, 100%);

// Hovers
$equal-hover-1: hsl(6deg 93% 67%);
$toggle-keypad-hover-1: hsl(6deg 92% 67%);
$action-toggle-1: hsl(224deg 51% 76%);

// ----------------------------------------------- //
// Theme 2
$main-background-2: hsl(0deg, 0%, 90%);
$toggle-keypad-background-2: hsl(0deg, 5%, 81%);
$background-2: hsl(0deg, 0%, 93%);

// Keys
// Delete & reset
$blue-key-background-2: hsl(185deg, 42%, 37%);
$blue-key-shadow-2: hsl(185deg, 58%, 25%);

// Equal
$red-key-background-toggle-2: hsl(25deg, 98%, 40%);
$red-key-shadow-2: hsl(25deg, 99%, 27%);

// Numbers & symbols
$main-key-background-2: hsl(45deg, 7%, 89%);
$main-key-shadow-2: hsl(35deg, 11%, 61%);

// Text
$text-2: hsl(60deg 10% 20%);
$white-2: hsl(60deg 11% 18%);

// Hovers
$equal-hover-2: hsl(6deg 93% 67%);
$toggle-keypad-hover-2: hsl(6deg 92% 67%);
$action-toggle-2: hsl(224deg 51% 76%);

// ----------------------------------------------- //
// Theme 3
$main-background-3: hsl(268deg, 75%, 9%);
$toggle-keypad-background-3: hsl(268deg, 71%, 12%);
$background-3: hsl(0deg, 0%, 93%);

// Keys
// Delete & reset
$blue-key-background-3: hsl(218deg, 89%, 26%);
$blue-key-shadow-3: hsl(285deg, 91%, 52%);

// Equal
$red-key-background-toggle-3: hsl(176deg, 100%, 44%);
$red-key-shadow-3: hsl(177deg, 92%, 70%);

// Numbers & symbols
$main-key-background-3: hsl(268deg, 47%, 21%);
$main-key-shadow-3: hsl(290deg, 70%, 36%);

// Text
$text-3: hsl(52deg 100% 62%);
$white-3: hsl(198deg 20% 13%);

// Hovers
$equal-hover-3: hsl(6deg 93% 67%);
$toggle-keypad-hover-3: hsl(6deg 92% 67%);
$action-toggle-3: hsl(224deg 51% 76%);
